* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%; }

.wrapper {
  background-color: #FAFAFA;
  width: 100%; }
  .wrapper .top-bar {
    width: 100%;
    -webkit-box-shadow: 0 7px 9px 0 rgba(240, 240, 240, 0.5);
    box-shadow: 0 7px 9px 0 rgba(240, 240, 240, 0.5);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wrapper .top-bar .logo {
      float: left;
      width: 93px;
      height: 29.2px;
      margin-left: 2.06rem;
      margin-top: 2rem;
      margin-bottom: 1.7rem; }
      .wrapper .top-bar .logo img {
        width: 100%; }
    .wrapper .top-bar .user-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 0rem; }
      .wrapper .top-bar .user-info .notification a .bell-icon {
        text-align: left;
        font-size: 1.8rem;
        margin-right: 2rem;
        margin-top: -0.35rem;
        color: #767676;
        text-decoration: none;
        display: block;
        overflow: hidden; }
      .wrapper .top-bar .user-info .notification .indicator {
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: #d0021b;
        border: solid 1px #ffffff;
        border-radius: 50%;
        margin-left: 1rem; }
      .wrapper .top-bar .user-info .avatar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: -1rem;
        margin-right: 0; }
        .wrapper .top-bar .user-info .avatar img {
          width: 54px;
          height: 54px;
          float: left;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-right: 1rem; }
        .wrapper .top-bar .user-info .avatar .dropbtn {
          background-color: transparent;
          cursor: pointer;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          text-align: left;
          color: #767676;
          width: 9rem;
          border: none; }
        .wrapper .top-bar .user-info .avatar .down-icon {
          float: right;
          margin-top: -0.1rem;
          text-align: center;
          margin-right: 2.2rem;
          text-decoration: none;
          color: #767676; }
        .wrapper .top-bar .user-info .avatar .dropdown {
          position: relative;
          display: inline-block; }
        .wrapper .top-bar .user-info .avatar .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1; }
        .wrapper .top-bar .user-info .avatar .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block; }
        .wrapper .top-bar .user-info .avatar .dropdown-content a:hover {
          background-color: #f1f1f1; }
        .wrapper .top-bar .user-info .avatar .dropdown:hover .dropdown-content {
          display: block; }
  .wrapper .above-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #FAFAFA;
    width: 56rem;
    -webkit-transform: translateX(23.2%);
    -ms-transform: translateX(23.2%);
    transform: translateX(23.2%);
    margin: 40px 0 6px 0; }
    .wrapper .above-content .home h6 {
      font-size: .9rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #767676;
      margin: 0.1rem 0 0 0; }
    .wrapper .above-content .btn-home .top-btn {
      width: 118px;
      height: 38px;
      border-radius: 18px;
      border: 1px solid #0648d5;
      background-color: #0648d5;
      -webkit-box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
      box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
      color: #fff;
      font-size: 0.8rem;
      cursor: pointer; }
    .wrapper .above-content .modal-btn {
      width: 118px;
      height: 38px;
      border-radius: 18px;
      border: 1px solid #0648d5;
      background-color: #0648d5;
      -webkit-box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
      box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
      color: #fff;
      font-size: 0.8rem;
      cursor: pointer; }
  .wrapper .row {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .wrapper .row #sidebar {
      background-color: #FAFAFA;
      width: 14.92rem; }
      .wrapper .row #sidebar .sidebar-header h3 {
        font-size: 0.7rem;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #767676;
        margin: 2.2rem 0 1rem 1.8rem; }
      .wrapper .row #sidebar .components li {
        padding: 1rem 1rem 1rem 1.5rem;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .row #sidebar .components li:hover {
          color: #000000;
          font-weight: bold;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
        .wrapper .row #sidebar .components li .menu-icons {
          margin-right: 1rem;
          width: 15px;
          height: 15px; }
          .wrapper .row #sidebar .components li .menu-icons:hover {
            color: #000000; }
        .wrapper .row #sidebar .components li a {
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          color: #767676;
          text-decoration: none; }
          .wrapper .row #sidebar .components li a:hover {
            color: #000000;
            font-weight: bold; }
      .wrapper .row #sidebar .components .active {
        border-radius: 0;
        background-color: #fff3f3;
        color: #000000;
        font-weight: bold;
        border-left: red solid 2px;
        width: 190px;
        height: 33px;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #fff3f3; }
        .wrapper .row #sidebar .components .active a {
          color: #000000;
          font-weight: bold; }
    .wrapper .row .content {
      background-color: #fff;
      width: 63.25rem;
      border: solid 1px #eeeeee;
      -webkit-box-shadow: 0 2px 4px 0 rgba(184, 184, 184, 0.5);
      box-shadow: 0 2px 4px 0 rgba(184, 184, 184, 0.5);
      margin: 2rem auto 0 auto;
      height: auto; }
      .wrapper .row .content .before-table {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .wrapper .row .content .before-table .before-info p {
          font-family: SFProDisplay;
          font-size: 0.9rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          color: #000000;
          margin-top: 1.6rem;
          padding: 1rem 0 0 0.8rem; }
        .wrapper .row .content .before-table .before-btn {
          display: inline;
          margin-top: 1.5rem;
          margin-left: 32rem; }
          .wrapper .row .content .before-table .before-btn .refresh-btn {
            float: left;
            margin-right: 2rem;
            width: 68px;
            height: 38px;
            border-radius: 18px;
            -webkit-box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
            box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
            border: solid 1px #ededed;
            cursor: pointer; }
            .wrapper .row .content .before-table .before-btn .refresh-btn .refresh-icon {
              font-size: 1.5rem;
              color: #0648d5;
              -webkit-transform: translateX(1.2rem) translateY(0.45rem);
              -ms-transform: translateX(1.2rem) translateY(0.45rem);
              transform: translateX(1.2rem) translateY(0.45rem); }
          .wrapper .row .content .before-table .before-btn .publish-btn {
            float: left;
            margin-right: 2rem;
            -webkit-box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
            box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
            width: 88px;
            height: 38px;
            border-radius: 18px;
            background-color: #ffffff;
            border: solid 1px #ededed;
            position: relative;
            cursor: pointer; }
            .wrapper .row .content .before-table .before-btn .publish-btn .download {
              color: #0648d5;
              font-size: 1.1rem;
              margin-left: 1.3rem;
              margin-top: 0.6rem;
              margin-right: 1rem; }
          .wrapper .row .content .before-table .before-btn .all-btn {
            float: left;
            margin-right: 2rem;
            width: 68px;
            height: 38px;
            border-radius: 18px;
            -webkit-box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
            box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
            border: solid 1px #ededed;
            cursor: pointer; }
            .wrapper .row .content .before-table .before-btn .all-btn .all {
              width: 13px;
              height: 14px;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.1px;
              color: #000000;
              margin-left: 1.4rem;
              margin-top: 0.6rem; }
      .wrapper .row .content .main-data {
        font-size: 0.78rem;
        font-style: "Open Sans", sans-serif;
        text-align: left;
        margin: 0.8rem 0 2rem 0;
        height: auto; }
        .wrapper .row .content .main-data thead tr th {
          border-top: none;
          border-bottom: none;
          text-align: center; }
        .wrapper .row .content .main-data tbody {
          margin: 0 0.5rem;
          height: 46px;
          border-radius: 4px;
          text-align: center; }
          .wrapper .row .content .main-data tbody .colored {
            background-color: #f4f8ff;
            border: 1px solid #fff; }
          .wrapper .row .content .main-data tbody td {
            border-radius: 4px;
            border: none;
            text-align: center;
            -webkit-transform: translateY(0.3rem);
            -ms-transform: translateY(0.3rem);
            transform: translateY(0.3rem); }
        .wrapper .row .content .main-data .dropdown-toggle {
          width: 75px;
          background-color: #ceddf8;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
          text-align: center;
          -webkit-transform: translateY(-0.3rem);
          -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem); }
          .wrapper .row .content .main-data .dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .5em;
            margin-top: .3em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
            font-size: .7rem; }
      .wrapper .row .content .main-pagination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; }
        .wrapper .row .content .main-pagination .pagination a {
          border: none;
          color: #767676; }
          .wrapper .row .content .main-pagination .pagination a:hover {
            background-color: #0648d5;
            color: white; }
    .wrapper .row .right-bar {
      text-align: left;
      margin-top: 2rem;
      margin-left: 1.5rem;
      width: 15.8125rem; }
      .wrapper .row .right-bar .right-bar-header h3 {
        font-size: 0.7rem;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #767676;
        margin-bottom: 0.9rem; }
      .wrapper .row .right-bar .data-info {
        margin: 0 0.2rem; }
        .wrapper .row .right-bar .data-info .form-group .form-control {
          display: block;
          width: 200px;
          height: 35px;
          height: calc(2.25rem + 2px);
          padding: .375rem .75rem;
          font-size: .8rem;
          color: #868e96;
          font-family: "Open Sans", sans-serif;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
          transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
          -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out; }
        .wrapper .row .right-bar .data-info .form-group label {
          font-size: 0.9rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #212529; }
        .wrapper .row .right-bar .data-info .form-group input[type=text],
        .wrapper .row .right-bar .data-info .form-group select {
          height: 38px;
          width: 200px;
          border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px #ced4da;
          text-align: center; }
      .wrapper .row .right-bar .btn {
        display: block;
        margin-bottom: 1rem;
        width: 208px;
        height: 38px; }
      .wrapper .row .right-bar .btn-success {
        margin-top: 2rem; }
      .wrapper .row .right-bar .btn-light {
        background-color: #f3f3f3;
        color: blue; }
  .wrapper .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem 0 0 0;
    color: grey;
    font-size: 0.8rem; }
  .wrapper .dataTables_wrapper {
    margin-top: 2.5rem;
    font-size: 0.9rem; }
  .wrapper .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0648d5 !important;
    border-color: #0648d5 !important; }
