@import "mixins";
$lightGrey: #FAFAFA;
$lightBlue: #f4f8ff;
$fontDisplay: 'Open Sans',
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.wrapper {
    background-color: $lightGrey;
    width: 100%;

    @include mQ (599px, 360px){
        background-color: #FAFAFA;
        margin-right: 0;
    }

    .top-bar {
        width: 100%;
        box-shadow: 0 7px 9px 0 rgba(240, 240, 240, 0.5);
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        position: relative;

       @include mQ (599px, 360px){
            margin-right: 0;
            flex-direction: column;
            box-shadow: 0 2pt 4pt 0 #EDEDED;
        }

        .logo {
            float: left;
            width: 93px;
            height: 29.2px;
            margin-left: 2.06rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            @include mQ (599px, 360px){
                width: 44pt;
                height: 13.8pt;
                margin-left: 14pt;
                margin-bottom: 2pt;
            }

            img {
                width: 100%;
            }
        }

        .user-info {
            display: flex;
            align-items: center;
            margin-right: 0rem;

            @include mQ (599px, 360px){
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .mobile-heading {
                display: none;
                visibility: hidden;

                @include mQ (599px, 360px){
                    display: block;
                    visibility: visible;
                    font-family: $fontDisplay;
                    font-size: 2pt;
                    color: #000000;
                    margin-left: 14pt;
                    margin-right: 3rem;
                    margin-bottom: 3pt;
                    font-weight: 900;
                }
            }

            .notification {
                a {
                    .bell-icon {
                        text-align: left;
                        font-size: 1.8rem;
                        margin-right: 2rem;
                        margin-top: -0.35rem;
                        color: #767676;
                        text-decoration: none;
                        display: block;
                        overflow: hidden;

                        @include mQ (599px, 360px){
                            font-size: 1.5rem;
                            margin-bottom: 9pt;
                            text-decoration: none;
                            margin-right: 0px;
                            text-decoration: none;
                        }
                    }
                }

                .indicator {
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    background-color: #d0021b;
                    border: solid 1px #ffffff;
                    border-radius: 50%;
                    text-decoration: none;
                    margin-left: 1rem;

                    @include mQ (599px, 360px){
                        margin-left: .8rem;
                        width: 8px;
                        height: 8px; 

                    }
                }

               
            }

            .avatar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 0;

                @include mQ (599px, 360px){
                    margin-right: 14pt;
                }

                img {
                    width: 54px;
                    height: 54px;
                    float: left;
                    align-items: center;
                    margin-right: 1rem;

                    @include mQ (599px, 360px){
                        margin-bottom: 13pt;
                        margin-right: 0px;
                        width: 38pt;
                        height: 38pt;
                    }
                }

                .dropbtn {
                    background-color: transparent;
                    cursor: pointer;
                    font-family: $fontDisplay;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.1px;
                    text-align: left;
                    color: #767676;
                    width: 9rem;
                    border: none;

                    @include mQ (599px, 360px){
                        display: none;
                    }
                }

                .down-icon {
                    float: right;
                    margin-top: -0.1rem;
                    text-align: center;
                    margin-right: 2.2rem;
                    text-decoration: none;
                    color: #767676;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

                .dropdown:hover .dropdown-content {
                    display: block;
                }
            }
        }
    }

    .above-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        background-color: $lightGrey;
        width: 66.9%;
        margin-top: 3%;
        margin-left: 15.3%;
        margin-bottom: 0;

        @include mQ (599px, 360px){
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        .home {
            @include mQ (599px, 360px){
                display: none;
            }

            h6 {
                font-size: .9rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.1px;
                color: #767676;
                margin: 0.1rem 0 0 0;
            }
        }

        .form-btn {
            display: none;

            @include mQ (599px, 360px){
                display: block;
                box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
                width: 67px;
                height: 37px;
                border-radius: 18px;
                background-color: #ffffff;
                border: solid 1px #ededed;
                position: relative;
                cursor: pointer;
                color: blue;
                margin-top: 2.5%;

                // margin-right: -3%;
                .filter-icon {
                    margin-left: 1.3rem;
                    margin-top: 0.4rem;
                }
            }
        }

        .btn-home {
            .top-btn {
                width: 118px;
                height: 38px;
                border-radius: 18px;
                border: 1px solid #0648d5;
                background-color: #0648d5;
                box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
                color: #fff;
                font-size: 0.8rem;
                cursor: pointer;

                @include mQ (599px, 360px){
                    margin-right: 10pt;
                    margin-left: 9pt;
                    margin-top: 7%;
                }
            }
        }
    }

    .main-modal {
        .modal-footer {
            .top-btn {
                width: 118px;
                height: 38px;
                border-radius: 18px;
                border: 1px solid #0648d5;
                background-color: #0648d5;
                box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
                color: #fff;
                font-size: 0.8rem;
                cursor: pointer;

                &:first-child {
                    width: 115px;
                    background-color: #d0021b;
                    border: #d0021b 1px solid;
                }
            }
        }
    }

    .table-hover {
        display: none;

        @include mQ (599px, 360px){
            display: block;
            background-color: #fff;
            text-align: left;
            margin-top: 1rem;
            margin-right: 0;
            margin-bottom: 0;
            box-shadow: 0 7px 9px 0 rgba(240, 240, 240, 0.5);

            &:first-of-type {
                // padding-left: 1px;
            }

            thead {
                th {
                    font-size: 9.5pt;
                    font-family: $fontDisplay;
                    border-top: 0;
                    padding-right: 5px;
                    // padding-left: 5px;
                    border-bottom: 1px solid #fff;
                    margin-top: 3rem;
                    background-color: #FAFAFA;

                    &:last-child {
                        width: 59px;
                        padding-left: 0px;
                    }
                }
            }

            tbody {
                td {
                    font-size: 10.4pt;
                    color: #3F3F3F;
                    padding-left: 15px;

                    &:last-child {
                        padding-left: 0px;
                    }

                    .chevron-r {
                        color: #767676;
                        font-size: 1.3rem;
                        margin-left: 1.5rem;
                    }
                }
            }
        }
    }

    .phone-pagination {
        display: none;

        @include mQ (599px, 360px){
            display: block;
            margin-left: 30%;
            text-align: center;
            margin-top: 6%;
            
            ul li a{
                border: none;
                background-color: inherit;
                color: #767676;
                font-size: 12pt;
                font-family: $fontDisplay;
                padding: 3px 9px;
                
            }

            .page-item.active .page-link{
                border-radius: 6%;
                padding: 3px 9px;
            }
        }
    }

        .mobile-footer{
            display: none;
            @include mQ (599px, 360px){
                display: flex;
                justify-content: space-around;
                color: #767676;
                background-color: #fff;
                box-shadow: 0 -2pt 4pt 0 #E1E0E1;

                .icon-item{
                    text-align: center;
                    font-size: 2rem;
                    // border: 1px solid black;

                    .icon-info{
                        font-size: 9pt;
                        display: flex;
                        justify-content: space-around;
                        text-align: center;
                    }

                    a{
                        text-decoration: none;
                        color: #767676;

                        &:active{
                            color: blue;
                        }
                    }
                }

                .black-line{
                    color: black;
                    background-color: #000;
                    padding: .5rem;
                    text-align: center;
                    display: block;
                    width: 3rem;
                }
            }
        }

    .row {
        margin: 0;
        display: flex;
        flex-wrap: nowrap;

        #sidebar {
            background-color: $lightGrey;
            width: 14.92rem;

            @include mQ (599px, 360px){
                display: none;
            }

            .sidebar-header {
                h3 {
                    @include h3;
                    margin: 2.2rem 0 1rem 1.8rem; // padding: 2rem 0 0 3.5rem;
                }
            }

            .components {
                li {
                    padding: 1rem 1rem 1rem 1.5rem;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: #000000;
                        font-weight: bold;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    .menu-icons {
                        @include menuIcons;

                        &:hover {
                            color: #000000;
                        }
                    }

                    a {
                        @include menuItems;

                        &:hover {
                            color: #000000;
                            font-weight: bold;
                        }
                    }

                    .reports {
                        margin-right: 3.5rem;
                        cursor: pointer;
                    }

                    .report-icon {
                        cursor: pointer;
                        color: #767676;

                        .material-icons {
                            font-size: 1.2rem;
                            margin-top: 0.5rem;
                        }
                    }
                }

                .active {
                    border-radius: 0;
                    margin-top: 0.4rem;
                    margin-bottom: 0.4rem;
                    background-color: #fff3f3;
                    color: #000000;
                    font-weight: bold;
                    border-left: red solid 2px;
                    width: 190px;
                    height: 33px;
                    border-radius: 4px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    background-color: #fff3f3;

                    a {
                        color: #000000;
                        font-weight: bold;
                    }
                }
            }
        }

        .content {
            background-color: #fff;
            width: 66rem;
            border: solid 1px #eeeeee;
            box-shadow: 0 2px 4px 0 rgba(184, 184, 184, 0.5);
            margin: 2rem auto 0 auto;
            height: auto;

            @include mQ (599px, 360px){
                display: none;
            }

            .before-table {
                display: flex;
                justify-content: flex-end;
                justify-content: space-between;
                margin-bottom: -1rem;

                .before-info {
                    p {
                        font-family: SFProDisplay;
                        font-size: 0.9rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.1px;
                        color: #000000;
                        margin-top: 1.6rem;
                        padding: 1rem 0 0 0.8rem;
                        color: #fff;
                    }
                }

                .before-btn {
                    display: inline;
                    margin-top: 1.5rem;
                    margin-right: -.7rem;

                    .refresh-btn {
                        float: left;
                        margin-right: 2rem;
                        width: 68px;
                        height: 38px;
                        border-radius: 18px;
                        box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
                        border: solid 1px #ededed;
                        cursor: pointer;

                        .refresh-icon {
                            font-size: 1.5rem;
                            color: #0648d5;
                            transform: translateX(1.2rem) translateY(0.45rem);
                        }
                    }

                    .publish-btn {
                        float: left;
                        margin-right: 2rem;
                        box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
                        width: 68px;
                        height: 38px;
                        border-radius: 18px;
                        background-color: #ffffff;
                        border: solid 1px #ededed;
                        position: relative;
                        cursor: pointer;

                        .download {
                            color: #0648d5;
                            font-size: 1.1rem;
                            margin-left: 1.4rem;
                            margin-top: 0.6rem;
                        }
                    }

                    .all-btn {
                        float: left;
                        margin-right: 2rem;
                        width: 68px;
                        height: 38px;
                        border-radius: 18px;
                        box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.5);
                        border: solid 1px #ededed;
                        cursor: pointer;

                        .all {
                            width: 13px;
                            height: 14px;
                            font-family: $fontDisplay;
                            font-size: 13px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.1px;
                            color: #000000;
                            margin-left: 1.4rem;
                            margin-top: 0.6rem;
                        }
                    }
                }
            }

            .main-data {
                font-size: 0.73rem;
                font-stretch: expanded;
                font-style: $fontDisplay;
                text-align: left;
                margin: 0.8rem 0 2rem 0;
                height: auto;

                @include mQ (599px, 360px){
                    display: none;
                }

                thead {
                    tr {
                        th {
                            border-top: none;
                            border-bottom: none;
                            text-align: center;
                        }
                    }
                }

                tbody {
                    margin: 0 0.5rem;
                    height: 46px;
                    border-radius: 4px;
                    text-align: center;

                    .colored {
                        background-color: #f4f8ff;
                        border: 1px solid #fff;
                    }

                    td {
                        border-radius: 4px;
                        border: none;
                        text-align: center;
                        transform: translateY(0.3rem);
                    }

                    .dropdown-toggle {
                        width: 75px;
                        background-color: #ceddf8;
                        font-family: $fontDisplay;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #000000;
                        text-align: center;
                        transform: translateY(-0.3rem);
                        border: none;

                        &::after {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: .5em;
                            margin-top: .3em;
                            vertical-align: .255em;
                            content: "";
                            border-top: .3em solid;
                            border-right: .3em solid transparent;
                            border-bottom: 0;
                            border-left: .3em solid transparent;
                            font-size: .7rem;
                        }
                    }

                    .dropdown-item {
                        font-size: .9rem;
                        padding: 0rem;
                    }
                }
            }
    }

    
        .right-bar {
            text-align: left;
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 0.5rem;
            width: 15.2rem;

            @include mQ (599px, 360px){
                display: none;
            }

            .right-bar-header {
                h3 {
                    @include h3;
                    margin-bottom: 0.9rem;
                }
            }

            .data-info {
                margin: 0 0.2rem;

                .form-group {
                    .form-control {
                        display: block;
                        width: 200px;
                        height: 35px;
                        height: calc(2.25rem + 2px);
                        padding: .375rem .75rem;
                        font-size: .8rem;
                        color: #868e96;
                        font-family: $fontDisplay;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    }

                    label {
                        @include label;
                    }

                    input[type=text],
                    select {
                        height: 38px;
                        width: 200px;
                        border-radius: 4px;
                        background-color: #ffffff;
                        border: solid 1px #ced4da;
                        text-align: center;
                    }
                }
            }

            .btn {
                display: block;
                margin-bottom: 1rem;
                width: 208px;
                height: 38px;
            }

            .btn-success {
                margin-top: 2rem;
            }

            .btn-light {
                background-color: #f3f3f3;
                color: blue;
            }
        }
    }

    .copyright {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0 0 0;
        color: grey;
        font-size: 0.8rem;

        @include mQ (599px, 360px){
            display: none;
        }
    }

    .dataTables_wrapper {
        margin-top: 2.5rem;
        font-size: 0.9rem;
    }

    .col-sm-12{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 6px;
        padding-left: 6px;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #0648d5 !important;
        border-color: #0648d5 !important;
    }
}